.main{
    position: absolute;
    float: left;
    width: calc(100% - 250px);
    min-height: 100%;
    top: 0;
    left: 0;
    background: #CCD8E0 url(../img/bg.jpg) repeat-x left bottom;
}

.content{
    text-align: center;
}

.header{
    background-color: rgba(0,0,0, 0);
    width: 100%;
    text-align: center;
}



.cost_listing{
    padding-left: 10px;
    padding-bottom:4px;"
}

.headermenu {
    background: #B3C2C7 ;
    font: normal 1.8em "Trebuchet MS",sans-serif;
    line-height: 100px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    height: 100px;
}

.side_bar{
    position: fixed;
    float: right;
    background: #D9E1E5;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
}

.navmenu{
    margin-top: 100px;
}

.navmenu a{
    background: #D9E1E5 url(../img/nav.gif);
    color: #456;
    display: table-cell;
    width: 100%;
    height: 5%;
    float: left;
    text-align: center;
    line-height: 250%;
}

.digit{
    font-family: Courier, monospace;
}

.login{
    text-align: center;
}

.footer {
    background: url(../img/bgfooter.gif) repeat-x;
    color: #FFF;
    font: bold 1em sans-serif;
    line-height: 39px;
    text-align: center;
}
.footer a,.footer a:hover {color: #FFF;}

.qback{
    background-color: rgba(250,250,250, 0.5);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}